{% for item in items %}
	{%if loop.index == 1 %}
  	<p> <strong>Brever Distance: {{ item.brevet_dist }} km </strong></p>
  	{% endif %}
  <p> <strong> Controle {{loop.index}} : </strong></p>	
  <p>Location: {{ item.location }}</p>
  <p>Controle distance: {{ item.km }} </p>
  <p>Start: {{ item.start_time }}</p>
  <p>Close: {{ item.close_time }}</p>

{% endfor %}
<p><strong>Calculate another set of controle times: </strong>  <a href="http://localhost:5001/">back to the homepage</a>?</p>
